// Import Comfortaa font from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

// Define colors and font settings
$font-family: 'Comfortaa', cursive;
$background-color: #f2f2f2;
$text-color: #666;
$high-rating-color: #9335ff;  
$low-rating-color: #e89d40;  
$border-color: #ccc;         
body, html {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    background-color: $background-color;
    color: $text-color;
}

.container {
    width: 100%;
    max-width: 768px;
    min-width: 320px;
    margin: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header, .footer {
    background-color: #f8f9fa;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

.thread {
    border: 1px solid $border-color;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    position: relative;

    &:hover {
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    &.collapsed .message {
        display: none;
    }

    &.expanded .message {
        display: block;
    }
}

.message {
    border-top: 1px solid $border-color;
    padding: 5px;

    h4 {
        color: inherit;
        margin: 0 0 5px 0;

        &.high-rating {
            color: $high-rating-color;
        }

        &.low-rating {
            color: $low-rating-color;
        }
    }

    p {
        margin: 0;
    }

    .count {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
        color: #fff;
        background-color: $text-color; // Default, update dynamically
    }
}

// Responsive adjustments for smaller screens
@media (max-width: 320px) {
    .container {
        padding: 0 10px;
        overflow-x: auto;
    }
}
