// Import Comfortaa font from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

// Define colors and variables
$font-family: 'Comfortaa', cursive;
$background-color: #f2f2f2;
$text-color: #999999; 
$high-rating-color: #9335ff;
$low-rating-color: #e89d40;
$border-color: #ccc;

body, html {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    background-color: $background-color;
    color: $text-color;
}

.container {
    width: 100%;
    max-width: 768px;
    min-width: 320px;
    margin: auto;
    background-color: #F2F2F2;
    padding: 20px;
    box-sizing: border-box;
}

.header, .footer {
    background-color: #f8f9fa;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

.thread {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    position: relative
}


.metadata-content {
    justify-content: space-between;
    align-items: center;
}

.metadata-details {
    text-align: right;
    font-size: 0.85rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -10%;
    padding: 0;

}

.count {
    background-color: $low-rating-color;
    color: white;
    padding: 3px 50px;
    border-radius: 10px;
    font-size: 0.75rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    position: absolute;  
    top: -7px;
    right: 10px; 
}
h4 {
    margin: 0;
    padding: 0;
    font-size: 1.1rem; 
}
h5 {
    margin-top: -3%;
    padding: 0;
    font-size: 0.9rem; 
}

p {
    font-size: 0.95rem;
    margin: 5px 22% 10px  0px ;
    
}
.message-card {
    position: relative; 
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.15);
    padding:  20px 20px 30px 20px ;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    z-index: 5; 
    margin: 20px 20px 0px 0px;
}

.placeholder-card {
    position: absolute;
    width: calc(97%);
    height: calc(80% );
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    transform: translate(10px, 10px);
    top: 0px;
    right:3%;
    margin-top: 3.5%;

}

.count {
    background-color: $high-rating-color;
    color: white;
    padding: 3px 50px;
    border-radius: 10px;
    font-size: 0.75rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    position: absolute;
    top: -7px;
    right: 10px;
    z-index: 4  !important; 
}

.high-rating .count {
    background-color: $high-rating-color;
}


@media (max-width: 320px) {
    .container {
        padding: 10px;
        overflow-x: auto;
    }
}
